.button:link,
.button:visited,
.button {
  display: inline-block;
  font-size: $em;
  font-weight: 700;
  font-family: $font-rubik;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.8em;
  padding: 4px 32px;
  background-color: $white;
  color: $blue;
  border-radius: 12px;
  transition: all 0.08s linear;
}

.button:hover {
  background-color: $gray-lighter;
  color: $blue-darker;
}

.button:active {
  background-color: $blue-lighter;
  color: $white;
}

a.nav-button:link,
a.nav-button:visited {
  display: inline-flex;
  gap: $em;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: $em;
  font-weight: 700;
  font-family: $font-rubik;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.8em;
  padding: 8px 32px;
  background-color: $blue-darker;
  color: $white;
  border-radius: 12px;
  transition: all 0.08s linear;
  span {
    flex: 0 0 auto;
  }
  i {
    flex: 0 0 auto;
    font-size: $em * 1.5;
  }
}

a.nav-button:hover {
  background-color: $yellow;
  color: $blue-darker;
}

a.nav-button:active {
  background-color: $blue-lighter;
  color: $blue-darker;
}
