header {
  padding: $gapL;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: $gapM;

  .logo {
    flex: 0 0 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: $gapS;

    .glyph {
      flex: 0 0 84px;
      picture {
        display: block;
        img {
          display: block;
        }
      }
    }

    .wordmarks {
      flex: 0 1 100%;
      .wordmark-heading {
        font-size: 28px;
        line-height: 36px;
        font-family: $font-platypi;
      }
      .wordmark-subheading {
        font-size: 10px;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $font-rubik;
        letter-spacing: 0.3em;
      }
    }
  }

  .socials {
    flex: 0 1 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: center;
  }
}
