@use 'scss-reset/reset';

// Smooth Fonts
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// partials
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'typography';

// Style Themes

body {
  color: $white;
  background-color: $blue;
  &.style-roundabout {
    color: $white;
    background-color: $blue;
  }
  &.style-brute {
    color: $gray-dark;
    background-color: $white;
  }
}
